-gallery_images = ["galeria_9.jpg","galeria_10.jpg","galeria_11.jpg","galeria_12.jpg","galeria_13.jpg","galeria_14.jpg","galeria_15.jpg", "galeria_16.jpg", "galeria_17.jpg", "galeria_18.jpg", "galeria_19.jpg", "galeria_20.jpg", "galeria_21.jpg", "galeria_22.jpg"]
!!!5
%html{class:"no-js", lang:""}
  %head
    %meta{charset:"utf-8"}
    %meta{:"http-equiv" => "x-ua-compatible", content:"ie=edge"}
    %title :: Bievenidos a la tienda OnLine de DiseñARTE ::
    %meta{name:"description", content:":: Bievenidos a la tienda OnLine de DiseñARTE ::"}
    %meta{content:"#{gallery_images.length}", :"data-name" => "image_counter"}
    %meta{name:"viewport", content:"width=device-width, initial-scale=1"}
    %link{rel:"apple-touch-icon", href:"apple-touch-icon.png"}
    / Social Footer, Single Coloured
    / Include Font Awesome Stylesheet in Header
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    %link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    %link{rel:"stylesheet", href:"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"}
    %link{rel:"stylesheet", href:"css/normalize.css"}
    %link{rel:"stylesheet", href:"css/main.css"}
    %link{rel:"stylesheet", href:"css/bootstrap-social.css"}
    %link{href:'https://fonts.googleapis.com/css?family=Dancing+Script', rel:'stylesheet', type:'text/css'}
    %link{href:"https://cdn.jsdelivr.net/flexboxgrid/6.3.0/flexboxgrid.min.css", rel:"stylesheet"}
    %script{src:"js/vendor/modernizr-2.8.3.min.js"}
  %body
    ="<!--[if lt IE 8]>"
    %p{class:"browserupgrade"}
      Estás usando un navegador
      %strong desactualizado.
      Por favor
      %a{href:"http://browsehappy.com/"}
        actualiza tu navegador
      para una mejor experiencia
    ="<![endif]-->"

    .video-container
      / Width and height attrs are ok on media and images
      %video{autoplay:true, width:"1280", height:"720",poster:"/videos/images/agusportada.jpg",loop:true}
        %source{type:"video/mp4",src:"/videos/mp4/agusportada.mp4"}
        %source{type:"video/webm",src:"/videos/webm/agusportada.webm"}

    .row.middle-xs.full-height.center-xs.up.relative#inicio
      -menu = [{title:"Inicio", link:"#inicio"}, {title:"Productos", link:"#menu"}, {title:"Galería", link:"#gallery"}, {title:"Contacto", link:"#contact"}, {title:"Cómo llegar", link:"#location"}]
      %nav.fixed.right.top.up.main-nav#navigation
        %ul.list-inline
          -menu.each do |item|
            %li
              //%a.medium= item
              %a{href:item[:link]}= item[:title]
      .col-xs-12
        .box.main-content
          //%img{src:"/imgs/logo.png", alt:"Logo Restaurante Facilito", width:200, height:145}
          %h1.white-text.title.lobster.no-margin Papelería DiseñARTE
          %p#is_open.white-text.slim.top-space
            %span.glyphicon.glyphicon-time
            %span.text Abierto ahora

        //%footer.middle-xs.center-xs.up
        %nav
          %ul.list-inline.top-space--2
            %li
              %a{:href => "https://www.instagram.com/papeleriadsarte/", :target => "_blank"}
                %i.fa.fa-instagram{:style => "font-size:48px;color:black"}  
            %li
              %a{:href => "https://www.facebook.com/papeleriadsarte/", :target => "_blank"}
                %i.fa.fa-facebook-official{:style => "font-size:48px;color:blue"}
            %li
              %a{:href => "https://www.facebook.com/papeleriadsarte/", :target => "_blank"}
                %i.fa.fa-pinterest{:style => "font-size:48px;color:red"}
            %li
              %a{:href => "https://api.whatsapp.com/send?phone=+54931303498", :target => "_blank"}
                %i.fa.fa-whatsapp{:style => "font-size:48px;color:green"}

      .absolute.medium.black.large-padding.up--2#description
        .row
          .col-xs-8.col-sm-6.moto.white-text :: Bievenidos a la tienda OnLine de DiseñARTE ::
          .fade.col-sm-6.navigation.col-xs-4
            %nav.small.text-right.main-nav#responsive-nav
              %span.glyphicon.glyphicon-menu-hamburger.menu.white-text.subtitle
              %ul.list-inline
                -menu.each do |item|
                  %li
                    //%a.white-text= item
                    %a{href:item[:link]}= item[:title]

    .text-center.relative#menu
      .absolute.up#menu-title
        %h2.lobster.title Productos
      -menu = [{title: "Polaprints", comentario: "Medidas: 9x10, fotos impresas en papel ilustración de 300 gramos.", pricing: "15 POLAPRINTS $ 190",image:"galeria_31"},{title: "SquarePrints", comentario: "Medidas: 10x10, fotos impresas en papel ilustración de 300 gramos.", pricing: "15 Squareprints $ 190",image:"squareprint"},{title: "Box chica", comentario: "box + 15 polaprints + 15 broches + soga de yute", pricing: "$ 380",image:"boxchica"},{title: "Box grande", comentario: "Box + 15 polaprints + 15 broches + soga de yute", pricing: "$ 420",image:"boxgrande"},{title: "KIT luces led", comentario: "Luces led + 15 polaprints + broches + soga de yute", pricing: "$ 540",image:"lucesled"},{title: "PHOTO álbum", comentario: "Photo álbum + stickers + 15 polaprints + 10 fotos de 6x6", pricing: "$ 290",image:"photoalbum"},{title: "Marco", comentario: "Marco + 15 polaprints", pricing: "$ 450",image:"marco"},{title: "Colgante", comentario: "15 polaprints + colgante", pricing: "$ 380",image:"colgante"}]
      .row
        -menu.each do |alimento|
          .col-md-4.col-lg-3.col-sm-6.col-xs-12.food{style:"background-image:url(/imgs/galeria/#{alimento[:image]}.jpg)"}
            .screen
              .row.full-height.middle-xs
                .col-xs-12.white-text
                  %a.medium.link-nav-anibal{:href => "/misproductos.html"}
                    .box
                      %h3.lobster.subtitle.white-text= alimento[:title]
                      //%p.lobster.subtitle.white-text= alimento[:comentario]
                      %p.white-text= alimento[:comentario]
                      %p.no-margin.white-text= alimento[:pricing]
                      //%a.medium.link-nav-anibal{:href => "/productos.html"} Productos
                      
    #gallery
      .inner
        -gallery_images.each do |image|
          .image{style:"background-image:url(/imgs/galeria/#{image})"}
    .container
      .card.white.relative.black-text.text-center
        %h3.medium.slim
          Somos
          %strong.medium.lobster Papelería DiseñARTE ::
          HANDMADE WITH LOVE
          %strong.lobster.medium ::
        %p.text-justify.top-space--2 
          Diseñarte es una marca de objetos de decoración, bazar y regalos.
          Contamos con gran variedad de objetos, donde el protagonista es el diseño.
          Cada uno de nuestros productos está combinado con funcionalidad y utilidad.
          %strong.lobster.medium Agustina.
          .large-paddin.medium.black.text-center.white-text
            También puedes acceder a este sitio sin conexión a internet
    .top-space--2.black.big-padding.white-text.full-height#contact
      .row.middle-xs.full-height
        .col-xs-12
          .box
            %form.step-form#my-form{action:"https://formspree.io/papeleriadsarte@gmail.com",method:"POST"}
              .row.center-xs
                .col-xs-12
                  .box
                    %p.subtitle Contacto
                .col-xs-2.col-md-1.text-right
                  .box
                    -3.times do |i|
                      .path-step{class:"#{'active' if i == 0}",data:{position:i+1}}
                .col-md-5
                  .box
                    .fieldset.step.active
                      %input.input{type:"email",name:"email",placeholder:"Coloca tu correo electrónico",required:true}
                    .fieldset.step
                      %input.input{type:"text",name:"name",placeholder:"¿Cuál es tu nombre?",required:true}
                    .fieldset.step
                      %textarea.input{name:"body",placeholder:"¿En qué podemos ayudarte?",required:true}
                      %p.small#info.text-left                

    #location
      #map
      #messages.black.large-padding.white-text.text-center.medium
    %script{src:"https://code.jquery.com/jquery-1.12.0.min.js"}
    %script
      window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')
    %script{src:"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"}
    %script{src:"https://maps.googleapis.com/maps/api/js?key=AIzaSyAZw-hILO285jF31gCS_fzjU3e1pWE4etw&libraries=places"}
    %script{src:"dist/user_location.js"}
    %script{src:"dist/maps.js"}
    %script{src:"dist/path.js"}
    %script{src:"dist/main.js"}

    //.row.middle-xs.center-xs.up
    //.top-space--2.black.big-padding.white-text.full-height#contact
    //.row.middle-xs.full-height
    //.col-xs-12

    %footer.middle-xs.center-xs.up
      %nav
        %ul.list-inline.top-space--2
          %li
            %a{:href => "https://www.instagram.com/papeleriadsarte/", :target => "_blank"}
              %i.fa.fa-instagram{:style => "font-size:48px;color:black"}  
          %li
            %a{:href => "https://www.facebook.com/papeleriadsarte/", :target => "_blank"}
              %i.fa.fa-facebook-official{:style => "font-size:48px;color:blue"}
          %li
            %a{:href => "https://www.facebook.com/papeleriadsarte/", :target => "_blank"}
              %i.fa.fa-pinterest{:style => "font-size:48px;color:red"}
          %li
            %a{:href => "https://api.whatsapp.com/send?phone=+54931303498", :target => "_blank"}
              %i.fa.fa-whatsapp{:style => "font-size:48px;color:green"}


      //%strong.medium.lobster.text-justify.top-space--2 Papelería Diseñarte Copyright Disenarte 2017 - Agustina Tallini

  .container
    %h3 
    %hr/
    .text-center.center-block
      %strong.medium.lobster.top-space--2 Copyright Papelería Diseñarte 2017 - 
      %strong.medium.lobster.top-space--2 División Web - Todos los derechos reservados
      //%a{:href => "http://tinyurl.com/tbvalid6", :target => "_blank"} Contacto Web
      %br/
      //%a{:href => "https://www.facebook.com/bootsnipp"}
      //  %i.fa.fa-facebook-square.fa-3x.social
      //%a{:href => "https://twitter.com/bootsnipp"}
      //  %i.fa.fa-twitter-square.fa-3x.social
      //%a{:href => "https://plus.google.com/+Bootsnipp-page"}
      //  %i.fa.fa-instagram-square.fa-3x.social
      //%a{:href => "mailto:bootsnipp@gmail.com"}
      //  %i.fa.fa-envelope-square.fa-3x.social
    %hr/
  
  //%a.medium.navegacion-anibal-b{:href => "/productos.html"} Productos